form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    height: 70%;
    max-width: 500px;
    margin-bottom: 50px;
}

label {
    margin-top: 15px;
}

#content {
    margin-bottom: 15px;
}

input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
