.authorArea {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    margin-left: 10px;
    flex-direction: row;
  }
  
  .initials {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ea9898;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  
  .postText {
      margin-top: 0;
      margin-left: 25px;
      font-size: 25px;
      font-style: italic;
  
  }
  
  .authorName {
      color: #ea9898
  }
  
  .comment {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      margin-top: 3px;
      margin-bottom: 10px;
      border-radius: 15px;
      width: 40%;
      height: 50%;
      background-color: rgb(251, 228, 233);;
      border-color: rgb(255, 153, 168);
      border-style: solid;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  li {
    margin-top: 0;
    margin-bottom: 0;
  }

